a {
  font-family: 'Courier New';
<<<<<<< HEAD
  color: white;
=======
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  font-weight: bold;
}

.menu {
  padding-top: 0px !important;
  margin-top: 0 !important;
  border-bottom: 1px solid whitesmoke;
  background-color: #00414f;
}

label {
  margin-top: 0;
  background-color: #00414f;
  cursor: pointer;
<<<<<<< HEAD
  color: #f5f5f5;
  font-weight: bold;
  font-size: 16px;
=======
  width: 50px;
  color: white;
  font-size: 18px;
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  font-family: 'Courier New';
  font-weight: bold;
  padding-right: 20px;
}
#content {
  background-color: #9acd32;
}

li {
  width: 95%;
}

label,
#content {
  margin-top: 0 !important;
  text-align: right;
  height: 30px;
  width: 95%;
  display: inline-block;
}
#menu-toggle {
  display: none;
}
#menu {
  background-color: #357084;
  text-align: right;
  color: whitesmoke;
  width: 100%;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  margin: 0 auto;

  -webkit-transition: all 0.3s ease;
}

#menu a {
<<<<<<< HEAD
=======
  font-size: 16px;
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  font-weight: bold;
  color: white;
  text-decoration: none !important;
  margin-right: 20px;
}

#menu-toggle:checked + #menu {
  max-height: 100px;
}

@media screen and (min-width: 480px) {
  a {
    font-size: 18px;
    color: whitesmoke;
    font-weight: bold;
  }

  .menu {
    padding-top: 0px !important;
    margin-top: 0 !important;
    height: 100%;
    border-bottom: 1px solid whitesmoke;
    background-color: #00414f;
  }

  label {
    background-color: #00414f;
    cursor: pointer;
<<<<<<< HEAD
    color: white;
    font-size: 16px;
=======
    color: whitesmoke;
    font-size: 18px;
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  }

  #content {
    background-color: #9acd32;
  }
  label,
  #content {
    margin-top: 0 !important;
    text-align: right;
    height: 30px;
    width: 95%;

    display: inline-block;
  }
  #menu-toggle {
    display: none;
  }
  #menu {
    background-color: #357084;
    text-align: right;
    color: whitesmoke;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;

    -webkit-transition: all 0.3s ease;
  }

  #menu a {
<<<<<<< HEAD
    font-weight: bold;
    color: white;
=======
    font-size: 16px;
    color: whitesmoke;
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
    text-decoration: none !important;
    font-weight: bold;
  }

  #menu-toggle:checked + #menu {
    max-height: 100px;
  }
}

@media screen and (min-width: 800px) {
<<<<<<< HEAD
  a {
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

=======
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  .menu {
    padding-top: 0px !important;
    margin-top: 0 !important;
    margin: 0 auto !important;
    height: 100%;
    border-bottom: 1px solid whitesmoke;
    background-color: #00414f;
  }

  label {
    margin-top: 0;
    background-color: #00414f;
    cursor: pointer;
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
  }
  #content {
    background-color: #9acd32;
  }
  label,
  #content {
    margin-top: 0 !important;
    text-align: center;
    height: 30px;
    display: inline-block;
    width: 100%;
  }
  #menu-toggle {
    display: none;
    margin: 0 auto !important;
  }
  #menu {
    background-color: #357084;
    text-align: center;
    color: white;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
  }
  li {
    width: 100%;
  }

  #menu a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-decoration: none !important;
  }

  #menu-toggle:checked + #menu {
    max-height: 100px;
  }
}

@media screen and (min-width: 1600px) {
<<<<<<< HEAD
  a {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }

=======
>>>>>>> fee750f1dcab1e49c3f9cbb1975b57b8360330a1
  .menu {
    padding-top: 0px !important;
    margin-top: 0 !important;
    height: 100%;
    border-bottom: 1px solid whitesmoke;
    background-color: #00414f;
  }

  label {
    margin-top: 0;
    background-color: #00414f;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 22px;
  }
  #content {
    background-color: #9acd32;
  }
  label,
  #content {
    margin-top: 0 !important;
    text-align: center;
    height: 30px;
    width: 100%;
    display: inline-block;
  }
  #menu-toggle {
    display: none;
  }
  #menu {
    background-color: #357084;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    padding: 0;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease;
  }
  li {
    width: 100%;
  }

  #menu a {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-decoration: none !important;
  }

  #menu-toggle:checked + #menu {
    max-height: 100px;
  }
}
