nav {
  padding: 1% 0;
  background-color: #aaa;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: inline;
  font-family: 'Source Code Pro';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

li {
  display: inline;
  margin-right: 15px;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}
