* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  min-width: 250px;
}

.shift_list {
  border: 1px solid #aaa;
  margin: auto;
  margin-top: 200px;
  border-radius: 5%;
  max-width: 600px;
  font-family: 'Source Code Pro';
}

.shift_list ul li {
  margin: 5px;
  display: block;
  text-decoration: none;
}

ul {
  padding: 20px;
}

.shift_list li:hover {
  background-color: #aaa;
  cursor: pointer;
}
