* {
  box-sizing: border-box;
}

body,
html {
  display: block;
  padding: 0;
  margin-top: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #00414f;
  font-family: 'Courier New';
}

.banner h1 {
  text-align: center;
  font-family: 'Courier New';
}

.AddShift {
  margin-top: 0px;
  background-color: #00414f;
}

.form {
  width: 90%;
  border: 2px solid whitesmoke;
  margin: 0 auto;
  background-color: #6499ab;
  text-align: center;
}

.form-section label {
  border: 1px solid whitesmoke;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Courier New';
}

h1 {
  color: whitesmoke;
  font-size: 18px;
}

label vault_money {
  color: whitesmoke;
}

.form-section {
  margin: 0 auto;
}

.form-section input {
  margin: auto;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 60%;
}

button {
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 25%;
}

@media screen and (min-width: 480px) {
  .banner h1 {
    text-align: center;
    font-family: 'Courier New';
  }

  .AddShift {
    margin-top: 0px;
    background-color: #00414f;
  }

  .form {
    width: 90%;
    border: 2px solid whitesmoke;
    margin: 0 auto;
    background-color: #6499ab;
    text-align: center;
  }

  .form-section label {
    border: 1px solid whitesmoke;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New';
  }

  h1 {
    color: whitesmoke;
    font-size: 20px;
  }

  label vault_money {
    color: whitesmoke;
  }

  .form-section {
    margin: 0 auto;
  }

  .form-section input {
    margin: auto;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 60%;
  }

  button {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 25%;
  }
}

@media screen and (min-width: 800px) {
  .banner h1 {
    text-align: center;
    font-family: 'Courier New';
  }

  .AddShift {
    margin: auto;
    width: 60%;
    margin-top: 0px;
    background-color: #00414f;
  }

  .form {
    width: 90%;
    border: 2px solid whitesmoke;
    margin: 0 auto;
    background-color: #6499ab;
    text-align: center;
  }

  .form-section label {
    border: 1px solid whitesmoke;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New';
    font-size: 20px;
  }

  h1 {
    color: whitesmoke;
    font-size: 20px;
  }

  label vault_money {
    color: whitesmoke;
  }

  .form-section {
    margin: 0 auto;
  }

  .form-section input {
    margin: auto;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 60%;
  }

  button {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 25%;
  }
}

@media screen and (min-width: 1600px) {
  .banner h1 {
    text-align: center;
    font-family: 'Courier New';
  }

  .AddShift {
    margin: auto;
    width: 50%;
    margin-top: 0px;
    background-color: #00414f;
  }

  .form {
    width: 90%;
    border: 2px solid whitesmoke;
    margin: 0 auto;
    background-color: #6499ab;
    text-align: center;
  }

  .form-section label {
    border: 1px solid whitesmoke;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: 'Courier New';
    font-size: 24px;
  }

  h1 {
    color: whitesmoke;
    font-size: 20px;
  }

  label vault_money {
    color: whitesmoke;
  }

  .form-section {
    margin: 0 auto;
  }

  .form-section input {
    margin: auto;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 60%;
  }

  button {
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 25%;
  }
}
