* {
  box-sizing: border-box;
}

body,
html {
  display: block;
  padding: 0;
  margin-top: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #00414f;
  font-family: 'Courier New';
}

.AddShift {
  margin-top: 0px;
  background-color: #00414f;
}

.form {
  width: 90%;
  border: 2px solid whitesmoke;
  margin: auto;
  background-color: #6499ab;
}

.form-section label {
  margin-top: 0;
  border: 1px solid whitesmoke;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Courier New';
}

label vault_money {
  color: whitesmoke;
}

.form-section input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}
