* {
  box-sizing: border-box;
}

header {
  padding: 45px 15px;
  margin-top: 25px;
}

#add-user {
  min-height: 300px;
  padding: 30px 15px;
  background-color: #aaa;
  text-align: center;
}

#newuser {
  margin-left: 15px;
}
